results/complete_sqanti3/STAR_index
tools

# Reference genomes
results/01_isoquant_transcriptome/Mus_musculus.GRCm39.dna.chr19_k15_idx
results/03_QC_with_orthogonal/STAR_index/*

# Big data files
data/isoquant/short_reads.chr19.r*.fq

# Reference QC files
results/00_QC_reference
scripts/00_QC_reference.sh